body{
    background:#f4f4f4;
}

/* Navbar */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(236, 138, 8, 1);
    font-size:25px;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(0, 69, 120, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(236, 138, 8, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(236, 138, 8, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ec8a08;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ec8a08;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ec8a08;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #004578;
}

/* Custom */
.main-color-bg{
    background-color: rgba(0, 69, 120, 1) !important;
    border-color: black !important;
    color:#ffffff !important;
}

/* Header */
#header{
    background:#333333;
    color:#ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create{
    padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
    background:#cccccc;
    color:#333333;
}

.breadcrumb a{
    color:#333333;
}

/* Progress Bars */
.progress-bar{
    background:#333333;
    color:#ffffff;
}

.dash-box{
    text-align:center;
}

#login{
    margin-top:30px;
}

/* Footer */
#footer{
    background-color: rgba(0, 69, 120, 1);
    color:#ffffff;
    text-align:center;
    padding:30px;
    margin-top:30px;
    margin-bottom:0px;
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffbbbc;
        background-color: #c0392b;
    }
}
#dec{
    color: #e74c3c;
    font-size:17px;
}
.icon{
    color: rgba(236, 138, 8, 1);
}
.h11{
    text-align:center;
}
.clravant{
    color: #e74c3c;
}
.liste{
    background:white;
}
.badge2{
    float:right;
    color:rgba(0, 69, 120, 1);}
.icon2{
    color:rgba(0, 69, 120, 1);
}
.liste2{
    background: #f4f4f4;
}
.red{
    color:red;
}
.liste-jours{
    margin: 10px 10px;
}
.liste-jours li{
    padding: 10px 5px;
}
.liste-jours .active{
    background-color: #337ab7;
    border-radius: 4px;
    padding: 10px;
}
.liste-jours .active a{
    color: white;
}